<mat-sidenav-container class="sidenav-container">
  <mat-sidenav 
      #drawer 
      class="sidenav" 
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="false">
    <mat-toolbar class="side-toolbar">
      <button class="close-nav" mat-icon-button (click)="drawer.toggle()" aria-label="Toggle sidenav">
        <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href href="#">SHOP</a>
      <a mat-list-item href href="#">SERIES</a>
      <a mat-list-item href href="#">CLOTHING</a>
      <a mat-list-item href href="#">ACCESSORIES</a>
      <a mat-list-item href href="#">CUSTOMER SERVICE</a>
      <a mat-list-item href href="#">ABOUT US</a>
      <a mat-list-item href href="#">CONTACT</a>
      <a mat-list-item href href="#">COVID-19</a>
      <a mat-list-item href href="#" id="sale">SALE</a>
      <a mat-list-item href href="#" >Account</a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="main-toolbar" >
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        class="drawer"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <object data="../../../assets/logo/logo.svg" class="logo"></object>
      <div class="menu">
        <button class="menu-icons" id="menu-user" href="#"></button>
        <button class="menu-icons" id="menu-search" href="#"></button>
        <button class="menu-icons" id="menu-cart" href="#"></button>
    </div>
    <nav class="links">
      <ul>
          <li><a href="#">SHOP</a></li>
          <li><a href="#">SERIES</a></li>
          <li><a href="#">CLOTHING</a></li>
          <li><a href="#">ACCESSORIES</a></li>
          <li><a href="#">CUSTOMER SERVICE</a></li>
          <li><a href="#">ABOUT US</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">COVID-19</a></li>
          <li><a href="#" id="sale">SALE</a></li>
      </ul>
     

  </nav>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
